.hero {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #e8f0ff, #fff);
  padding: 40px;
}
.hero-content {
  max-width: 50%;
}
.hero-image img {
  max-height: 250px;
}

.apply-btn {
  margin-top: 20px;
  background-color: #e95420;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.apply-btn:hover {
  background-color: #c74217;
}

