<header class="header">
  <div class="header-container">
    <div class="logo" [routerLink]="['/']" style="cursor: pointer;">🏠InclusionBank</div>
    
    <div class="action-buttons">
      <button class="signin-btn" [routerLink]="['/training']">🎓 Training</button>
      <button *ngIf="userId == ''" class="signin-btn" [routerLink]="['/signin']">Sign In</button>
      <button *ngIf="userId == ''" class="signin-btn" [routerLink]="['/signup']">Sign Up</button>
      <button *ngIf="userId != ''" class="signin-btn" >{{userId}}</button>
      <button *ngIf="userId != ''" class="signin-btn" (click)="logOut()">Log Out</button>
    </div>
  </div>
</header>
